.quadrant-chart {
  height: 100%;
  margin: 0 50px 0 0;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px 15px;
  max-width: 145px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
